body {font-family: Poppins !important;}.snoli{box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.5);}.bg-primary {background-color: #009b4c!important;}.btn-primary {background-color: #1aa55e;border-color: #18d67585;}
    .navbar-dark .navbar-toggler{border: none;}
::-webkit-scrollbar {
	width: 3px;
	height:1px;
}
::-webkit-scrollbar-thumb{
	background-color:#0a8776 !important;}

.nav-link{color:#009b4c; }
.nav-link hover{color:#11ce9d; }
.navbar {
    border-bottom: 2px solid #ffc107;}
.navbar-dark .navbar-nav .nav-link {
    color: hsla(0,0%,100%,.5);
} 
.btn-primary{background:url(images/nav.png); background-color: #009b4c;}
.bg-texthead {
    background-color: rgba(0,0,0,.5);
}
.dropdown-menu {background:url(nav.ong); #009b4c;}
.quickedit,#ContactForm1,#ContactForm1 br,#PopularPosts1 .item-snippet,.not-multi-authorindz .entry-meta .authorindz,#blog-pager .home-link{display:none}
.panel.panel-primary{background:#fff;text-align:center;display:table;overflow:hidden;width:100%;max-width:970px;padding:0 0 25px 0;border-radius:5px;margin:25px auto;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)}.panel-body{position:relative;margin:0 25px}.panel-heading h2{background:linear-gradient(to right, #22a7f0, #0081ff);color:#fff;margin:0 auto 25px auto;font-weight:400;padding:15px;font-size:20px}
.panel-heading1 h2{background: linear-gradient(to right, #009b4c, #11ce9d);color:#fff;margin:0 auto 25px auto;font-weight:400;padding:15px;font-size:20px}
.jumbotron{
background: linear-gradient(to right, #009b4c, #11ce9d);
}
.mt-footer{position:relative;overflow:hidden;background: linear-gradient(to right, #009b4c, #11ce9d);color:#fff;font-size:14px;padding:25px;text-align:center;margin:25px auto 0 auto}.mt-footer a{color:#fff;position:relative;z-index:20}.mt-footer a:hover{text-decoration:underline}
.dani-circle{position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;margin:0}
.dani-circle li{position:absolute;display:block;list-style:none;width:20px;height:20px;background:rgba(255,255,255,0.20);animation:animate 45s linear infinite;bottom:-150px;z-index:0}
.dani-circle li:nth-child(1){left:25%;width:60px;height:60px;animation-delay:0s}
.dani-circle li:nth-child(2){left:10%;width:10px;height:10px;animation-delay:2s;animation-duration:12s}
.dani-circle li:nth-child(3){left:70%;width:10px;height:10px;animation-delay:4s}
.dani-circle li:nth-child(4){left:40%;width:40px;height:40px;animation-delay:0s;animation-duration:18s}
.dani-circle li:nth-child(5){left:65%;width:10px;height:10px;animation-delay:0s}
.dani-circle li:nth-child(6){left:75%;width:90px;height:90px;animation-delay:3s}
.dani-circle li:nth-child(7){left:35%;width:130px;height:130px;animation-delay:7s}
.dani-circle li:nth-child(8){left:50%;width:15px;height:15px;animation-delay:15s;animation-duration:45s}
.dani-circle li:nth-child(9){left:20%;width:5px;height:5px;animation-delay:2s;animation-duration:35s}
.dani-circle li:nth-child(10){left:85%;width:130px;height:130px;animation-delay:0s;animation-duration:11s}
@keyframes animate{0%{transform:translateY(0) rotate(0deg);opacity:1;border-radius:0}100%{transform:translateY(-1000px) rotate(720deg);opacity:0;border-radius:50%}}
.header {
position:relative;
text-align:center;
background: linear-gradient(to right, #009b4c, #11ce9d);
color:white;
}
.logo {
width:50px;
fill:white;
padding-right:15px;
display:inline-block;
vertical-align: middle;
display: none;
}
.gambar {
width: 330px;
}

.btn-primary : hover { color:#1aa55e;}

.inner-header {
height:5vh;
width:100%;
margin: 0;
padding: 0;
}
.flex { /*Flexbox for containers*/
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.waves {
position:relative;
width: 100%;
height:15vh;
margin-bottom:-7px; /*Fix for safari gap*/
min-height:100px;
max-height:150px;
}
.content {
position:relative;
height:20vh;
text-align:center;
background-color: white;
}


/* Animation */
.parallax > use {
animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}
.parallax > use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}
.parallax > use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}
.parallax > use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}
@keyframes move-forever {
0% {
transform: translate3d(-90px,0,0);
}
100% {
transform: translate3d(85px,0,0);
}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
.waves {
height:40px;
min-height:40px;
}
  
@media (max-width: 668px) {
.gambar {
width: 250px;
}
